@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@mixin transition {
	transition: all 0.3s ease;
}


@mixin flex {
	display: flex;
}


@mixin flexcolumn {
	flex-flow: column nowrap;
}


@mixin flexrow {
	flex-flow: row wrap;
	flex-wrap: nowrap;
}


@mixin transform($property) {
  transform: $property;
}


@mixin backgroundsize($property) {
  background-size: $property;
	-moz-background-size: $property;
	-webkit-background-size: $property;
	-o-background-size: $property;
}


@mixin appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


$column: 16;


$fontfamily: 'Anonymous Pro', monospace;


html, body {
  font-size: $font_size;
  background-color: $black;
  font-family: $fontfamily;
  color: $white;
  line-height: 1.25;
}


h1 { font-size: $rem*5;}
h2 { font-size: $rem*3;}
h3 { font-size: $rem*2.5;}
h4 { font-size: $rem*2;}
h5 { font-size: $rem*1.4;}
h6 { font-size: $rem*1.2;}


.message {
  @each $status, $color in $status-colors {
    #{$status} {background-color: $color;}
  }
}


@for $i from 1 through 5 {
  .fs#{$i} { font-size: 1.5*$rem - ($i/5) ; }
}


@for $j from 1 through $column {
  .nc#{$j} { width: ($j/$column)*$fullprcnt ; }
}



/*! --------- COLOR ------------ */

$red: rgba(227, 52, 52, 1);
$blue: rgba(52, 113, 227, 1);
$green: rgba(119, 212, 76, 1);
$yellow: rgba(224, 197, 58, 1);
$orange: rgba(245, 169, 56, 1);
$magenta: rgba(187, 87, 212, 1);
$pink: rgba(245, 122, 222, 1);
$cyan: rgba(70, 227, 214, 1);
$black: rgba(13, 13, 13, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(128, 128, 128, 1);

$grad1: linear-gradient(25deg, #FFA050, #FFF457);
$grad2: linear-gradient(25deg, #AAFF65, #FFF15C);
$grad3: linear-gradient(25deg, #30FFFB, #6EFF6D);
$grad4: linear-gradient(25deg, #62E2FF, #FF9FF5);
$grad5: linear-gradient(25deg, #FF7DE5, #FFE62F);

$dark_grad1: linear-gradient(25deg, #A700B9, #2600F7);
$dark_grad2: linear-gradient(25deg, #FF1A03, #2731FF);
$dark_grad3: linear-gradient(25deg, #0062E1, #009F22);

$status-colors: (
  primary: $black,
  success: $green,
  info: $blue,
  warning: $orange,
  danger: $red
);

$font_size: 16pt;
$font_weight: 100;
$rem: 1rem ;
$smallpx: 16px;
$bigpx: 216px;
$nullprcnt: 0%;
$halfprcnt: 50%;
$fullprcnt: 100%;
$emvh: 10vh;
$emvw: 10vw;

/*! --------- NORM ------------ */

html {
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
}

body {
  margin: 0;
}

// HTML5 display definitions
// ==========================================================================

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; // 1
  vertical-align: baseline; // 2
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

// Links
// ==========================================================================

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

// Text-level semantics
// ==========================================================================

abbr[title] {
  border-bottom: none; // 1
  text-decoration: underline; // 2
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; // 2
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// Embedded content
// ==========================================================================

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

// Grouping content
// ==========================================================================

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

// Forms
// ==========================================================================

button,
input,
optgroup,
select,
textarea {
  color: inherit; // 1
  font: inherit; // 2
  margin: 0; // 3
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], // 1
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; // 2
  cursor: pointer; // 3
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; // 1
  padding: 0; // 2
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; // 1
  box-sizing: content-box; //2
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0; // 1
  padding: 0; // 2
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

// Tables
// ==========================================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}